@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.sethomeworktext {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
    color: white;
}
 
.noth2 {
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}