@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.kek {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
    color: white;
}
 
/* font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;     */

.text1 {
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    color:white;
    font-size: 50px;
    text-align: right;
    padding-right: 140px;
}

.text2 {
    font-family: 'Gloria Hallelujah', cursive;
    color:white;
    font-size: 50px;
}

.writing2 {
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 

}